<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng thống kê khách hàng</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Tên đăng nhập</th>
                        <th>Số điện thoại</th>
                        <th>Ngày đăng kí</th>
                        <th>Tiền đã mua</th>
                    </tr>
                </thead>

                <tbody>
                    
                    <% for( user of users ) {%>
                    <tr>
                        <% if(user.fullname && user.fullname.length > 0){ %>
                            <td> <%= user.fullname %></td>
                        <% } %>

                        <% if(user.email && user.email.length > 0){ %>
                            <td><%= user.email %></td>
                        <% } %>

                        <% if(user.username && user.username.length > 0){ %>
                            <td><%= user.username %></td>
                        <% } %>

                        <% if(user.phoneNum && user.phoneNum.length > 0){ %>
                            <td><%= user.phoneNum %></td>
                        <% } %>

                        <% if(user.dayCreated && user.dayCreated.length > 0){ %>
                            <td><%= user.dayCreated %></td>
                        <% } %>

                        <% if(user.moneySpent && user.moneySpent.length > 0){ %>
                            <td>$<%= user.moneySpent %></td>
                        <% } %>
                    </tr>
                    <% } %>
                    
                    <tr>
                        <td>Tiger Trần</td>
                        <td>Quôc sư Hoa kỳ</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Đã cập nhật dữ liệu vào lúc 11:59 PM</div>
</div>