<link rel="stylesheet" href="/css/update.css">
<section class="row">
    <div class="col-sm-12">
        <section class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-block">
                        <h3 class="card-title">Cập nhật người dùng</h3>
                        <form class="form" action="#">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Họ và tên</label>
                                <div class="col-md-9">
                                    <input type="text" name="regular" class="form-control"
                                        value="<%= detail.fullname %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Tên đăng nhập</label>
                                <div class="col-md-9">
                                    <input type="text" name="regular" class="form-control"
                                        value="<%= detail.username %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Số điện thoại</label>
                                <div class="col-md-9">
                                    <input type="text" name="regular" class="form-control" value="<%= detail.phone %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Địa chỉ email</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="email" name="placeholder"
                                        value="<%= detail.email %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Địa chỉ</label>
                                <div class="col-md-9">
                                    <input type="text" name="address" class="form-control" value="Chưa có">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Trạng thái</label>
                                <div class="col-md-9">
                                    <input type="text" name="status" class="form-control" value="<%= detail.status %>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Sửa trạng thái</label>
                                <div class="col-md-9">
                                    <select class="custom-select form-control">
                                        <option value="active" selected>Hoạt động (active)</option>
                                        <option value="banned">Khoá (banned)</option>
                                        <option value="inactive">Buộc xác nhận lại bằng email (inactive)</option>
                                        <option value="deleted">Xoá (deleted)</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>