<div class="container py-4 my-2">
    <div class="row">
        <div class="col-md-4 pr-md-5">
            <img class="w-100 rounded border" src="https://cdn.bootstrapsnippet.net/assets/image/dummy-avatar.jpg" />
            <div class="pt-4 mt-2">
                <section class="mb-4 pb-1">
                    <h3 class="h6 font-weight-light text-secondary text-uppercase">Trạng thái : <%= user.status %></h3>
                    <div class="work-experience pt-2">
                        <div class="work mb-4">
                            <strong class="h5 d-block text-secondary font-weight-bold mb-1">Tên đăng nhập :
                                <%= user.username %></strong>
                            <strong class="h6 d-block text-warning mb-1">Quyền hạn : <%= user.role %></strong>
                            <p class="text-secondary"><%= user.address %></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex align-items-center">
                <h2 class="font-weight-bold m-0">
                    <%= user.fullname %>
                </h2>
                <address class="m-0 pt-2 pl-0 pl-md-4 font-weight-light text-secondary">
                    <i class="fa fa-map-marker"></i>
                    <%= user.address %>
                </address>
            </div>

            <section class="mt-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">
                            Thông tin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">
                            Cập nhật
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">
                            Sắp có
                        </a>
                    </li>
                </ul>
                <div class="tab-content py-4" id="myTabContent">
                    <div class="tab-pane py-3 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h6 class="text-uppercase font-weight-light text-secondary">
                            Thông tin liên lạc
                        </h6>
                        <dl class="row mt-4 mb-4 pb-3">
                            <dt class="col-sm-3">Điện thoại</dt>
                            <dd class="col-sm-9"><%= user.phone %></dd>

                            <dt class="col-sm-3">Địa chỉ nhà</dt>
                            <dd class="col-sm-9">
                                <address class="mb-0">
                                    <%= user.address %>
                                </address>
                            </dd>

                            <dt class="col-sm-3">Địa chỉ email</dt>
                            <dd class="col-sm-9">
                                <a href="mailto:<%- user.email %>"><%- user.email %></a>
                            </dd>
                        </dl>

                        <h6 class="text-uppercase font-weight-light text-secondary">
                            Thông tin cá nhân
                        </h6>
                        <dl class="row mt-4 mb-4 pb-3">
                            <dt class="col-sm-3">Ngày sinh</dt>
                            <dd class="col-sm-9"><%= user.dob %></dd>

                            <dt class="col-sm-3">Gender</dt>
                            <dd class="col-sm-9">Male</dd>
                        </dl>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="tab-content mt-3">
                            <div class="tab-pane active" id="home">

                                <form class="form" action="#" method="POST" id="registrationForm">

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="username">
                                                <h4>Tên đăng nhập</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="username" id="user_name"
                                                title="Tên đăng nhập" value="<%= user.username %>">
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-3">
                                            <label for="fullname">
                                                <h4>Họ tên</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="fullname" id="full_name"
                                                title="Tên khách hàng" value="<%= user.fullname %>">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="dob">
                                                <h4>Ngày sinh</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input name="dob" type="date" class="form-control" id="dob"
                                                value="<%= user.dob %>">
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div class="col-md-3">
                                            <label for="phone">
                                                <h4>Điện thoại</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="phone" id="phone"
                                                title="Số điện thoại" value="<%= user.phone %>">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="email">
                                                <h4>Địa chỉ email</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input value="<%= user.email %>" type="email" class="form-control"
                                                name="email" id="email" title="Địa chỉ email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="email">
                                                <h4>Địa chỉ</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input name="address" value="<%= user.address %>" type="text"
                                                class="form-control" id="location" title="Địa chỉ khách">
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        <div class="col-md-3">
                                            <label for="password">
                                                <h4>Mật khẩu mới</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name="password" id="password"
                                                title="Mật khẩu">
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        <div class="col-md-3">
                                            <label for="password_confirm">
                                                <h4>Xác nhận lại</h4>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name="password_confirm"
                                                id="password_confirm" title="Xác nhận mật khẩu">
                                        </div>
                                    </div>

                                    <% include ../../partials/flash %>
                                    <div class="form-group">
                                        <div class="col-xs-12 text-center">
                                            <br>
                                            <button class="btn btn-lg btn-success" type="submit"><i
                                                    class="glyphicon glyphicon-ok-sign"></i> Lưu</button>
                                            <button class="btn btn-lg btn-info" type="reset"><i
                                                    class="glyphicon glyphicon-repeat"></i>
                                                Làm mới</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <!--/tab-pane-->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </section>
        </div>
    </div>
</div>